<h1><center>DRAGGABLE PUZZLE</center></h1>

<body>
  <script>
  $(function() {
    $( "#puzzlepiece" ).draggable({ snap: true, snap: ".ui-widget-header", snapMode: "inner-left" }, { containment: "#box-border-layout", scroll: false });
  	$( "#puzzlepiece2" ).draggable({ snap: true, snap: ".ui-widget-header", snapMode: "inner" }, { containment: "#box-border-layout", scroll: false });
  });
  </script>


  <%= render 'welcome/background' %>
  <%= render 'welcome/background' %>

  <%= render 'welcome/puzzlepiece' %>
</body>


